body {
	background: white;
	font-size: 11pt;
	font-family: Arial, Georgia, sans-serif;
}

h1 {
	background-color: black;
	color: white;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.text-block {
	background-color: #d9d9d9;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	padding: 2px;
	text-align: center;
}